@media (max-width: 991px) {
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 110%;
        height: calc(100%-68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
        margin-top: 5px;
    }
    header .navigation li a{
        color: #000;
        font-size: 1em;
        padding: 0px 20px;
    }

    .menuToggle{
        position: relative;
        width: 50px;
        height: 40px;
        background:  url(/assets/img/images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(/assets/img/images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
    }
    .banner .content p {
        font-size: 0.8em;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 h2{
        text-align: center;
    }
    .row .col50 .imgBox img {
        margin-top: 10px;
    }
    .menu .content{
        margin-top: 20px;
    }
    .menu .content .box{
        margin: 10px;
    }
    .menu .content .box .imgBox{
        height: 260px;
    }
    .title{
        text-align: center;
        font-size: 0.8em;  
    }
    .testimonials .content .box {
        margin: 10px;
        padding: 20px;
    }
    .contactFrom{
        padding: 35px 40px;
        margin-top: 20px;
    }
}
@media (max-width : 480px) {
    .banner .content h2{
        font-size: 2em;   
    }
}